.Top-Navigation ul.navbar-nav {
    padding-left: 40px;
}
.Top-Navigation nav.navbar {
    padding: 0 80px;
    height: 90px;
    background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    font-size: 14px;
    font-family: 'intermedium';
}
button.navbar-Btn {
    font-size: 14px;
    border: none;
    padding: 6px 18px;
    font-family: 'intermedium';
    cursor: pointer;
}
button.navbar-Btn.log-in-btn {
    background: none;
}
button.navbar-Btn.sign-up-btn {
    color: #007BFF;
    background-color: #007BFF19;
    border-radius: 30px;
}
.disNoneDesk {
    display: none;
}

/* +++++++++++++++++++++++++ RESPONSIVE CSS : STARTS +++++++++++++++++++++++++  */

@media only screen and (min-width : 320px)
and (max-width : 576px){


    /*=============== Navigation Bar CSS : STARTS ================ */
    .disBlockMob{
        display: block;
    }

    .Top-Navigation nav.navbar {
        padding: 15px;
        /* height: 80px; */
        height: unset;
        box-shadow: 0 3px 6px #86868621;
    }
    .Top-Navigation .navbar-brand {
       margin-right: unset;
    }
    .Top-Navigation ul.navbar-nav {
        padding-left: 15px;
    }
    .Top-Navigation .navbar-light .navbar-toggler {
        border: none;
    }
    .Top-Navigation .navbar-toggler {
        font-size: 1rem;
        padding: .25rem;
    }
.navbarLogoMob{
    margin-left: -40px;
}
    /*=============== Navigation Bar CSS : ENDS ================ */

}
/* +++++++++++++++++++++++++ RESPONSIVE CSS : ENDS +++++++++++++++++++++++++  */