/* ================== Create Profile CSS : STARTS ===========================
ul.ProfileStepTabsList {
    padding: 30px;
}
.ProfileStepTabsList li {
    margin: 15px 0;
}
.ProfileStepTab h6{
    margin-bottom: 4px;
    color: #525252;
    font-size: 16px;
    font-family: 'robotoregular';
}
.ProfileStepTab span{
    color: #525252;
    font-size: 12px;
}
div.ProfileStepTab {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
}
div.ProfileStepTab.active, div.ProfileStepTab:hover{
    background-color: #EAF3FD;
}
div.ProfileStepTab.filled{
    background-color: #E9FFF2;
    border: 1px solid #32C26F;
    position: relative;
}
div.ProfileStepTab.filled::after{
content: url(../../imgaes/icons/check_circle_black_24dp.svg);
position: absolute;
right: 10px;
top: 7px;
} */

ul.ProfileStepTabsList {
    padding: 30px;
}
.ProfileStepTabsList li {
    margin: 15px 0;
}
.ProfileStepTab h6{
    margin-bottom: 4px;
    color: #525252;
    font-size: 16px;
    font-family: 'robotoregular';
}
.ProfileStepTab span{
    color: #525252;
    font-size: 13px;
}
div.ProfileStepTab {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
}
div.ProfileStepTab.active, a.ProfileStepTab:hover{
    background-color: #EAF3FD;
}
div.ProfileStepTab.filled{
    background-color: #E9FFF2;
    border: 1px solid #32C26F;
    position: relative;
}
div.ProfileStepTab.filled::after{
content: url(../../imgaes/icons/check_circle_black_24dp.svg);
position: absolute;
right: 10px;
top: 7px;
}

/* ================= Basic Details FORM CSS : STARTS ================ */
.CreateProfileForm {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 40px 0;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 3px 9px #00000012;
}
.CreateProfileForm .form-group {
    margin-bottom: 25px;
}
.CreateProfileForm label{
color: #5F6D89;
font-family: 'robotoregular';
}
.CreateProfileForm .form-control{
    height: 40px;
    border: 1px solid #EBEEF3;
    font-size: 14px;
    font-family: 'robotoregular';
}
.CreateProfileForm input.form-control::placeholder{
    color: #7F92A3;
}
.CreateProfileForm .form-control:focus {
    background-color: #fff;
    border-color: #007BFF;
    outline: 0;
    box-shadow: unset;
}
.profileHeadSec{
    padding: 20px 35px;
    border-bottom: 1px solid #E7E7E7;
}
.profileHeadSec h4{
    font-size: 22px;
    font-family: 'robotomedium';
    margin: 0;
}
.FormSec {
    padding: 20px 35px;
}
.RadioBtn .form-check-inline .form-check-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.RadioBtn .form-check-inline {
    margin-right: 30px;
}
.profilePic {
    border: 2px dashed #007BFF;
    background-color: #EAF3FD;
    border-radius: 8px;
    max-width: 214px;
    height: 184px;
    margin: 0 auto;
}
.profilePic span{
    color: #525252;
    font-size: 12px;
}
.uploadProfilePic {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 22px;
    cursor: pointer;
}
.uploadProfilePic .choose-pic {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.btn-group.NextFormButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.NextFormButtons .common-btn {
    width: unset;
    border-radius: 4px;
    height: 50px;
    padding: 0 30px;
    margin: unset;
}
.NextFormButtons .common-btn.commonOutlineBtn{
    background-color: #ffffff;
}

.profilePicImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* ================= Basic Details FORM CSS : ENDS ================ */
.addedDetail.paddX15 {
    padding-right: 60px;
}
.paddX15 {
    padding: 15px 0;
}
.addedDetailContent {
    width: calc(100% - 70px);
}


/* +++++++++++++++++++++++++ RESPONSIVE CSS : STARTS +++++++++++++++++++++++++  */

@media only screen and (min-width : 320px)
and (max-width : 628px){

    .mainbgColor {
        background-color: #ffffff;
    }
    /*=============== Basic Details CSS : STARTS ================ */

    .flexColRev{
        flex-direction: column-reverse;
    }
    .profilePic {
        margin: 20px auto;
    }
    /*=============== Basic Details CSS : ENDS ================ */

    .addedDetailContent {
        width: calc(100% - 40px);
    }
}

 

/* +++++++++++++++++++++++++ RESPONSIVE CSS : ENDS +++++++++++++++++++++++++  */